@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.ReactModal__Overlay {
  z-index: 9999 !important; /* Ensure modal dropdown is on top */
}


.DraftEditor-root .public-DraftStyleDefault-block {
  position: relative;
}

.DraftEditor-root .public-DraftEditor-content {
  min-height: 200px; /* Ensure editor is large enough */
}

.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}


/* Hide the number input spinner (for Chrome, Safari, Edge, and Opera) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the number input spinner (for Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="checkbox"] {
  accent-color: #37F94E;
  /* Green color */
}

input[type="radio"] {
  accent-color: #37F94E;
  /* Green color */
}